<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	th:attr="ng-app=${ng_app}, ng-controller=${ng_controller}"
	class="ng-cloak">

<head>
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" />
<script type="text/javascript"
	src="/webjars/angularjs/1.6.0/angular.min.js"></script>

<script type="text/javascript"
	src="/webjars/jquery/3.1.1-1/jquery.min.js"></script>
	
<link rel="stylesheet" href="/webjars/jquery-ui/1.12.1/themes/base/jquery-ui.min.css"
	type="text/css" />
<script type="text/javascript"
	src="/webjars/jquery-ui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript"
	src="/webjars/jquery-ui/1.12.1/ui/i18n/datepicker-uk.js"></script>
<script type="text/javascript"
	src="/webjars/jquery-ui/1.12.1/ui/datepicker-uk.js"></script>

	
	<script src="/v/js/lib/ui-date/date.js"></script>

<script type="text/javascript" src="/v/js/mvp1.js"></script>

</head>

<body th:attr="ng-include=${ng_template}"></body>

</html>